@import "../../index.css";

.tiles-group{
    border-radius: 0.4rem;
    background-color: var(--white);
    padding: 0.7rem;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 2px var(--white);
    transition: all .3s;
    margin: 0 1.5% 1.5% 0;
    position: relative;
    text-align: left;
    width: 32%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid var(--gray);
}
.tiles-group:nth-child(3n){
    margin-right: 0;
}
.tiles-group:hover{
    box-shadow: 0 0 7px var(--mediumGray);
    transition: all .3s;
}
.tiles{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.list-img{
    max-width: 90px;
    border-radius: 5px;
    margin-right: 1rem;
}
.tiles h1{
    font-size: calc(var(--baseFontSize) - 2px);
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    margin: 0 0 0px 0;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
    box-sizing: border-box;
}
.tiles p{
    font-size: calc(var(--baseFontSize) - 2px);
    text-align: left;
    margin: 0;
    color: var(--darkGray);
}
.tiles-icon{
    display: flex;
    align-items: center;
}
.tilesIcon{
    max-width: 1.5rem;
}
.bookmarkIcon {
    max-width: 1.5rem;
    position: absolute;
    right: 18px;
    top: 20px;
    z-index: 9;
}
.clickSection{
    width: calc(100% - 90px);
    padding-right:10px;
    box-sizing: border-box;
}
.tiles-group .usedBy{
    font-size: calc(var(--baseFontSize) - 3px);
    margin: 5px 0 0 0;
    display: flex;
    align-items: center;
}
.tiles-group .usedBy .graph{
    max-width: 20px;
    margin-right: 10px;
}
.tiles-group .usedBy strong{
    margin: 0 2px;
}
@media(max-width:767px){
    .tiles{
        max-width: 100%;
    }
}