@import "../../index.css";

.tiles-group{
    border-radius: 0.4rem;
    background-color: var(--white);
    padding: 0.6rem 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 2px var(--white);
    transition: all .3s;
    margin: 0 1.5% 1.5% 0;
    position: relative;
    text-align: left;
    width: 32%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid var(--gray);
}
.tiles-group:nth-child(3n){
    margin-right: 0;
}
.tiles-group:hover{
    box-shadow: 0 0 5px var(--mediumGray);
    transition: all .3s;
}
.tiles{
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.list-img {
    max-width: 80px;
    border-radius: 5px;
    margin-right: 0.5rem;
}
.tiles h1{
    font-size: calc(var(--baseFontSize) - 1px);
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    margin: 0 0 0px 0;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
    box-sizing: border-box;
}
.tiles p{
    font-size: calc(var(--baseFontSize) - 1px);
    text-align: left;
    margin: 0;
    color: var(--darkGray);
}
.tiles-icon{
    display: flex;
    align-items: center;
}
.tilesIcon{
    max-width: 1.5rem;
}
.bookmarkIcon {
    max-width: 1.5rem;
    position: absolute;
    right: 18px;
    top: 20px;
    z-index: 9;
}
.clickSection{
    width: calc(100% - 90px);
    padding-right:10px;
    box-sizing: border-box;
}
.tiles-group .usedBy{
    font-size: calc(var(--baseFontSize) - 3px);
    margin: 5px 0 0 0;
    display: flex;
    align-items: center;
}
.tiles-group .usedBy .graph{
    max-width: 20px;
    margin-right:5px;
}
.tiles-group .usedBy strong{
    margin: 0 2px;
}
.bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.bookmark {
    filter: grayscale(1);
    padding: 2px;
    border-radius: 2px;
    margin-left: 10px;
}
.bookmark:hover{
    background-color: var(--gray);
    transition: all .5s;
}
.bookmark:hover:after{
    content: '';
    content: 'Bookmark';
    position: absolute;
    top: auto;
    bottom: -25px;
    background-color: var(--black);
    font-size: calc(var(--baseFontSize) - 5px);
    color: var(--white);
    white-space: nowrap;
    padding: 3px 7px;
    font-weight: bold;
    border-radius: 4px;
    left: -24px;
}
.bookmark-icon{
    max-width: 18px;
}
.bookmarked{
    filter: grayscale(0);
    opacity: 1;
}
.isPaid img{
    opacity: 0.2;
}
.isPaid:hover:after{
    content: '';
    content: 'Paid Feature';
    position: absolute;
    top: auto;
    bottom: -25px;
    background-color: var(--black);
    font-size: calc(var(--baseFontSize) - 5px);
    color: var(--white);
    white-space: nowrap;
    padding: 3px 7px;
    font-weight: bold;
    border-radius: 4px;
    left: -24px;
}

@media(max-width:767px){
    .tiles{
        max-width: 100%;
    }
}