@import "../../index.css";

.tiles{
    border-radius: 0.4rem;
    background-color: var(--white);
    max-width: 23%;
    padding: 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 2px var(--white);
    transition: all .3s;
    margin: 0 1% 2% 1%;
    position: relative;
    text-align: left;
    width: 33%;
}
.tiles:hover{
    box-shadow: 0 0 7px var(--mediumGray);
    transition: all .3s;
}
.tiles h1{
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    word-break: break-all;
    text-transform: capitalize;
}
.tiles p{
    font-size: 0.95rem;
    text-align: left;
    margin: 0;
}
.tiles-icon{
    display: flex;
    align-items: center;
}
.tilesIcon{
    max-width: 1.5rem;
}
.bookmarkIcon {
    max-width: 1.5rem;
    position: absolute;
    right: 18px;
    top: 20px;
    z-index: 9;
}
.clickSection{
    height: 100%;
    width: 100%;
}
@media(max-width:767px){
    .tiles{
        max-width: 100%;
    }
}