.category-listing-wrapper{
    width: 84%;
}
.category-listing {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem 1.5rem 1rem;
    box-sizing: border-box;
}
.search-wrapper{
    text-align: left;
    width: 90%;
}
.search-wrapper label{
    font-size: calc(var(--baseFontSize) - 2px);
    margin-bottom: 0.5rem;
    display: block;
}
.search-wrapper .form-control{
    font-size: calc(var(--baseFontSize) - 2px);
    background-image: url(/src/assets/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 10px;
    padding:11px 21px 11px 34px;
    border: 1px solid var(--mediumGray);
}
.additional-filter-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 1.2rem 1rem;
}
.additional-filters button {
    background-color: var(--white);
    color: var(--darkGray);
    border: 1px solid var(--gray);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding:11px 21px;
    font-size: calc(var(--baseFontSize) - 1px);
    white-space: nowrap;
    margin-right: 20px;
}
.additional-filters button.active {
    background-color: var(--primary);
    color: var(--white);
}
.additional-filters button:focus {
    outline: 0;
}
.additional-filters img {
    max-width: 20px;
    margin-left: 5px;
}
.board-forms-prefix {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1.5rem 1rem;
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--gray);
}
.board-forms-prefix .form-group{
    width: 33%;
    margin-bottom: 7px;
}

.loader-flex{
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 20px;
    left: 20px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 20px;
    left: 20px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}



@media(max-width:767px){
    .category-listing{
        flex-direction: column;
        padding: 0;
    }
    .tiles-group{
        width: 100%;
    }
    .list-img {
        max-width: 70px;
    }
    .category-listing-wrapper {
        width: 100%;
    }
    .search-wrapper{
        padding: 0 0 1rem 0;
    }
    .additional-filter-parent{
        flex-direction: column-reverse;
        margin: 0 0 1rem 0;
    }
    .search-wrapper{
        width: 100%;
    }
    .additional-filters{
        width: 100%;
    }
    .additional-filters button{
        width: 100%;
    }
}