@import '../../index.css';
.result-section h2 {
    font-size: 1.2rem;
    margin: 0;
}
.result-section {
    background-color: var(--white);
    width: 49%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    border: 1px solid var(--primary);
    line-height: 28px;
    min-height: 400px;
    margin-bottom: 1rem;
}
.result-section-inner{
    padding: 2rem;
}
.resultQuestions:empty {
    border: none;
    margin: 0;
    padding: 0;
}
.resultQuestions {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dee3ed;
    padding-bottom: 1.5rem;
    color: var(--black);
    font-size: calc(var(--baseFontSize) - 1px);
}
.resultQuestions:last-child {
    border: none;
}
.copyClipboard {
    border-radius: 40px;
    background-color: var(--white);
    position: fixed;
    right: 30px;
    box-shadow: 0 0 5px var(--gray);
    bottom: 30px;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyClipboard img {
    max-width: 20px;
}
.generatedImage {
    width: 100%;
    text-align: center;
}
.followUpPrompt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid var(--mediumGray);;
}
.followUpPrompt .form-group{
    width: 82%;
    margin: 0;
}
.user{
    text-align: right;
    font-weight: bold;
    margin: 2rem 0;
}
.user div {
    background-color: #dee7fb;
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 35px 3px 35px 35px;
}
.followup-prompts{
    margin: 0 0 20px 0;
    padding: 0 1rem;
}
.followup-prompts h2{
    font-size: calc(var(--baseFontSize));
    margin-bottom: 0.5rem;
}
.followup-prompts ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0;
    flex-wrap: wrap;
}
.followup-prompts li {
    width: 49%;
    border: 1px solid var(--gray);
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: calc(var(--baseFontSize) - 2px);
    color: var(--darkGray);
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    line-height: normal;
    margin-bottom: 5px;
}
.followup-prompts li:hover {
    background-color: var(--lightBlue);
    color: var(--primary);
}
@media(max-width:767px){
    .result-section{
        width: 100%;
        margin-top: 1rem;
      }
}