@import '../../index.css';

.result-section h1 {
    font-size: 2rem;
    margin: 20px 0 10px 0;
    color: var(--primary);
}
.result-section h2 {
    font-size: 1.6rem;
    margin: 20px 0 10px 0;
    color: var(--primary);
}

.result-section h3 {
    font-size: 1.4rem;
    margin: 20px 0 10px 0;
    color: var(--primary);
}
.result-section h4 {
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
    color: var(--primary);
}
.result-section h5 {
    font-size: 1rem;
    margin: 20px 0 10px 0;
    color: var(--primary);
}
.result-section h6 {
    font-size: 0.8rem;
    margin: 20px 0 10px 0;
    color: var(--primary);
}
.assistant div strong {
    color: var(--black);
}

.result-section {
    background-color: var(--white);
    width: 48%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    border: 1px solid var(--primary);
    line-height: 28px;
    min-height: 400px;
    margin-bottom: 1rem;
}

.result-section-inner {
    padding: 2rem;
}

.resultQuestions:empty {
    border: none;
    margin: 0;
    padding: 0;
}

.resultQuestions {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dee3ed;
    padding-bottom: 1.5rem;
    color: var(--black);
    font-size: calc(var(--baseFontSize) - 1px);
}

.resultQuestions:last-child {
    border: none;
}

.copyClipboard {
    border-radius: 40px;
    background-color: var(--white);
    position: fixed;
    right: 30px;
    box-shadow: 0 0 5px var(--gray);
    bottom: 30px;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.copyClipboard:hover .action-list{
    display: block;
}

.copyClipboard img {
    max-width: 20px;
}

.copyClipboard ul{
    position: absolute;
    border-radius: 8px;
    background-color: var(--white);
    padding:0;
    list-style: none;
    margin: 0;
    bottom: 40px;
    min-width: 150px;
    right: 4px;
    box-shadow: 0 0 10px #00000030;
    display: none;
}
.copyClipboard ul:after{
    width: 100%;
    height: 50px;
    content: '';
    position: absolute;
    bottom: -36px;
    left: 0;
}
.copyClipboard ul li {
    font-size: calc(var(--baseFontSize) - 1px);
    padding: 9px 20px;
    color: var(--primary);
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.copyClipboard ul img{
    margin-right: 5px;
}
.copyClipboard ul li:hover {
    background-color: var(--grayBlue);
}

.copyClipboard ul li span {
    display: flex;
    align-items: center;
}

.generatedImage {
    width: 100%;
    text-align: center;
}

.followUpPrompt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid var(--mediumGray);
}

.followUpPrompt form{
    width: 100%;
    display: flex;
    align-items: center;
}

.followUpPrompt button {
    margin-left: 1rem;
}

.followUpPrompt .form-group {
    width: 82%;
    margin: 0;
}

.user {
    text-align: right;
    font-weight: bold;
    margin: 2rem 0;
}

.user div {
    background-color: #dee7fb;
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 35px 3px 35px 35px;
}

.followup-prompts {
    margin: 0 0 20px 0;
    padding: 0 1rem;
}

.followup-prompts h2 {
    font-size: calc(var(--baseFontSize));
    margin-bottom: 0.5rem;
}

.followup-prompts ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0;
    flex-wrap: wrap;
}

.followup-prompts li {
    width: 49%;
    border: 1px solid var(--gray);
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: var(--baseFontSize);
    color: var(--primary);
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    line-height: normal;
    margin-bottom: 5px;
}

.followup-prompts li:hover {
    background-color: var(--lightBlue);
    color: var(--primary);
}

.chat-bubble {
    margin: 20px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display: block;
    width: 100%;
}

.typing {
    align-items: center;
    display: flex;
    height: 17px;
}

.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96;
    /* rgba(20,105,69,.7); */
    border-radius: 50%;
    height: 8px;
    margin-right: 4px;
    vertical-align: middle;
    width: 8px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #6CAD96;
        /* rgba(20,105,69,.7); */
    }

    28% {
        transform: translateY(-7px);
        background-color: #9ECAB9;
        /* rgba(20,105,69,.4); */
    }

    44% {
        transform: translateY(0px);
        background-color: #B5D9CB;
        /* rgba(20,105,69,.2); */
    }
}

.table-response {
    border-collapse: collapse;
    width: 100%;
}

.table-response td {
    border: 1px solid var(--gray);
    padding: 5px 10px;
    text-transform: capitalize;
}

.speech-btn{
    font-size: calc(var(--baseFontSize) - 3px);
    margin: 10px 0 0 0;
    color: var(--primary);
    padding: 2px 3px;
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--grayBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
}
.speech-btn:hover{
    background-color: var(--white);
}
.speech-btn:focus{
    outline: 0;
}
.speech-btn img{
    max-width: 26px;
}
.related-forms {
    margin: 0 0 20px 0;
    padding: 0 1rem;
}

.related-forms h2 {
    font-size: calc(var(--baseFontSize));
    margin-bottom: 0.5rem;
}

.related-forms ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 0;
    flex-wrap: wrap;
}

.related-forms li {
    width: 49%;
    border: 1px solid var(--gray);
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: var(--baseFontSize);
    color: var(--primary);
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    line-height: normal;
    margin-bottom: 5px;
}

.related-forms li:hover {
    background-color: var(--lightBlue);
    color: var(--primary);
}

.mm-toolbar-brand{
    display: none !important;
}

.mm-toolbar-item{
    font-size: calc(var(--baseFontSize) - 3px);
}
.mm-toolbar{
    margin: 30px 0;
    float: left;
}

@media(max-width:767px) {
    .result-section {
        width: 100%;
        margin-top: 1rem;
    }

    .followup-prompts ul {
        flex-direction: column;
    }

    .followup-prompts li {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}