@import "./index.css";

#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.page-wrapper {
  margin: 2rem 0;
}

.page-wrapper .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  max-width: 100%;
}

.form-group-flex {
  display: flex;
}

.form-group-flex .field1 {
  max-width: 120px;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group label {
  font-weight: bold;
  font-size: calc(var(--baseFontSize) - 1px);
  margin-bottom: 0.2rem;
  display: block;
  text-align: left;
}

.form-control {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: calc(var(--baseFontSize) - 1px);
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  resize: none;
}
.form-control:disabled {
  background-color: var(--lightGray);
  color: var(--darkgray);
}

.checkbox-option {
  display: flex;
}
.radio-option {
  display: flex;
  align-items: center;
}
.radio-option input{
  margin: 0 5px 0 0;
}
.asterisk {
  color: var(--error);
  font-size: var(--baseFontSize);
  line-height: 10px;
}

.togglePassword {
  position: absolute;
  font-size: calc(var(--baseFontSize) - 5px);
  right: 8px;
  top: 34px;
  cursor: pointer;
  opacity: 0.4;
}

.togglePassword img {
  width: 20px;
}

.generator-section h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.generator-section h3 {
  font-size: var(--baseFontSize);
  margin: 0 0 2rem 0;
  font-weight: normal;
}

.generator-section {
  background-color: var(--white);
  width: 48%;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  text-align: left;
  min-height: calc(100vh - 180px);
}

.backButton {
  text-align: left;
  margin-bottom: 13px;
}
.tableWrapper {
  overflow: auto;
  width: 100%;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table tr:hover {
  background-color: var(--lightGray);
}

.table th,
.table td {
  text-align: left;
  padding: 0.3rem;
  border: 1px solid var(--grayBlue);
  font-size: calc(var(--baseFontSize) - 2px);
  white-space: nowrap;
}

.table td button {
  margin-left: 1rem;
}

.table td button:first-child {
  margin-left: 0;
}

.table td .cellHighlight {
  padding: 2px 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 2px;
  font-size: calc(var(--baseFontSize) - 4px);
}

.table td .cellHighlight.blue {
  background-color: var(--primary);
  color: var(--white);
}

.table td .cellHighlight.red {
  background-color: var(--error);
  color: var(--white);
}

.table td input {
  width: auto;
}

.errorMessage {
  color: var(--error);
  font-size: calc(var(--baseFontSize) - 3px);
  font-weight: bold;
  margin-bottom: 20px;
}

.separator {
  margin: 18px 0 24px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator:before {
  background-color: var(--gray);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 14px;
}

.separator-text {
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: 50%;
  color: #6a6d78;
  width: 30px;
  position: relative;
  line-height: normal;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--baseFontSize) - 2px);
}

.card-popup .overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-popup {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  height: 100%;
}

.card-popup-content {
  position: relative;
  width: 60%;
  background-color: var(--white);
  z-index: 9;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--black);
  max-height: 90%;
  overflow-y: auto;
}

.card-popup-content h1 {
  font-size: calc(var(--baseFontSize) + 4px);
  margin: 0 0 20px 0;
}
.card-popup-content p {
  margin: 0 0 9px 0;
  font-size: calc(var(--baseFontSize) - 1px);
  line-height: 28px;
}
.card-popup-content ul{
  list-style: none;
  margin: 0;
  padding: 0;
}.card-popup-content ul li{
  margin-bottom: 1.5rem;
}
.card-popup-content ul li:first-child span{
  background-color: var(--gray);
}
.card-popup-content p strong {
  display: block;
  color: var(--black);
}
.card-popup-content ul li span{
  border: 1px solid var(--gray);
  padding: 6px 10px;
  display: block;
  border-radius: 4px;
  margin: 3px 0 20px 0;
}
.card-popup .close{
  max-width: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  opacity: 0.5;
}
.card-popup .close:hover{
  opacity: 1;
}
.recording-options{
  display: inline-block;
}
.recording-options-items{
  display: flex;
  align-items: center;
}
.recording-options-items p {
  margin-left: 1rem;
  font-weight: bold;
  font-size: calc(var(--baseFontSize) - 1px);
}
.record{
  background-color: var(--lightGray);
  margin-left: 1rem;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  box-sizing: border-box;
  padding: 0;
}
.record img{
  max-width:20px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  button {
    margin: 0;
  }
}

@media(max-width:767px) {
  .page-wrapper .container {
    flex-direction: column;
  }

  .chipList {
    width: 100%;
    min-height: auto;
    overflow-x: auto;
  }

  .chipList li {
    width: 100%;
    border:none;
    padding:0;
  }

  .generator-section {
    width: 100%;
    min-height: auto;
  }
  .card-popup-content{
    width: 90%;
    margin-top: 1rem;
  }
}
@media(max-width:1366px) {
  .page-wrapper{
    margin-top: 1rem;
  }
}